<Configuration>
  <Appenders>
    <Console name="console">
      <PatternLayout>
        <Pattern>[%d] - [%p] [%c:%L] : %m%n</Pattern>
      </PatternLayout>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="TRACE">
      <AppenderRef ref="console" />
    </Root>
  </Loggers>
</Configuration>