/*
body {
width:expression(document.body.clientWidth < 756? "756px" : "auto");
}
*/

body {
	_width: expression(((document.body.clientWidth)) < 800? "780px": "auto" );
}
/* Top section */
#portal-top {
height: 100%;
}
.boxcontent ul {
	padding-left: 18px;
}
.boxcontent li {
	word-wrap: break-word;
}
