@media screen { /* To prevent PocketPC from loading the stylesheet */


/* Booby traps */
font { background-color: pink; }
.barfont { background-color: #ff9400; }
.Mainfont { background-color: yellow; }
center { background-color: green; }
ul { outline : thick; text-transform: uppercase; }
ul li { outline: none; text-transform: none; }
table table { background-color: #cfe4ff; }
p ul { background-color: #ffdd20; }
p li { background-color: #c2c2c2; }

/* fonts, colour-schemes etc. */
body {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal; 
	font-size: 80%; 
	line-height: normal; 
	background: #ffffff url('../images/eionet/eionet-background-logo.jpg') no-repeat;
	color: #495b6b;
}

/* Page head styles */

#pagehead {
	background:url('../images/eionet/toprightbg.gif') top right no-repeat;
	height: 100px;
	margin-left: 10px;

}
#identification {
	position: absolute;
	left: 11px;
	top: 11px;
	width:200px;
}
/* Making the logo clickable */

#identification a {
	float:left;
	height: 62px;
	width: 200px;
}

#logo {
	float:left;
	visibility: hidden;
	height: 62px;
	width: 200px;

}

#pagehead form {
	position: absolute;
	width: 495px;
	height: 89px;
	right: 0px;
	top: 0px;
	text-align: right;
}

#pagehead input {
	font-size: 90%;
	color: black;
	width: 12em;
	margin: 20px 4em 0 0;
}

/* The box where the content is */
#workarea {
	clear:right;
	margin-left: 223px;
	padding: 0px 10px 10px 0px;
	min-height: 20em;
}

#pagefoot {
	clear:right;
	background:url('../images/eionet/btmright-eionet.gif') top right no-repeat;
	padding: 20px 150px 20px 0px;
	font-style: italic;
	color: #97af79;
	font-size: 0.8em;
	margin-left:223px;
}

.skiplink {display:none}

.sitetitle {
	color: #ffffff;
	font-size: 120%;
	font-weight: bold;
}

.sitetagline {
	display: none;
	color: #eed;
	font-size: 10pt;
	font-weight: bold;
}
/* Site title and site tagline end */


/* Anchors */
a:link {
	color: #2a6495;
}

a:visited {
	color: #8e004d;
}

#workarea a:hover {
	color: #2a6495;
	background-color: #ebf0e5;
}

a:active {
	color: #2a6495;
}

#workarea a {
    text-decoration: none;
    border-bottom: 1px #a6bacd solid;
}

/* standard figure, used for articles and pages.
   can be floated left or right with additional 
   class figure-right or figure-left
 */

/* Remove the border around images */
a img {
	border: none;
}

.figure, .figure-plus {
  font-size: x-small;
  text-indent: 0;
}
.figure-title, .figure-nr {
 font-weight: bold;
}
.figure-image {
text-align:center;
}
.figure-source-copyright {
text-align:right;
}

.figure-plus-container {
  padding: 0 6px 6px 0;
  background: transparent url(shadow.png) no-repeat bottom right;
  margin: 10px 5px 5px 10px;
  width:33%;
}

.figure-plus {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  margin: -6px 0 0 -6px;
  padding: 4px;
}

/* floating left or right */
.figure-right {
  float: right;
  margin-left:6px; 
}

.figure-left {
  float: left;
  margin-right:6px; 
}

/* standard elements with shadow background */
.dropshadow, .figure, .thumbnail-right {
  padding: 0 6px 6px 0;
  background: transparent url(shadow.png) no-repeat bottom right;
  margin: 10px 5px 5px 10px;
}

/* standard elements which are shadowed and therefore moved up*/
.shadowed, .figure img, .thumbnail-right img {
  display: block;
  position: relative;
  background-color: #fff;
  margin: -6px 0px 0px -6px;
  border: 1px solid #a9a9a9;
  padding: 4px;
}

/* hover effect for images inside links */
.dropshadow img a:hover, .figure img a:hover, .thumbnail-right img a:hover {
  background-color: #e0e7d7;
  border: 1px solid #b20d00;
}

img.scaled {
  width: 100%;
  height: 100%;
}




h1, h2, h3, h4, h5, h6 {
	color: #495b6b;
	font-style: normal; 
	font-weight: bold; 
	text-decoration: none
}

h1, h2, h3 {
	font-family: tahoma, verdana, arial, Helvetica, sans-serif;
}

h4,h5,h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
	color: #91aa73;
	background: transparent;
	font-size: 1.5em; 
	line-height: 120%; 
}

h2 {
	font-size: 1.3em; 
	line-height: normal; 
}

h3 {
	font-size: 1.2em; 
	line-height: normal; 
	font-style: italic;
}

h4, h5, h6 {
	line-height: normal; 
	padding-left: 0.5em;
}

dt {
    font-weight: bold;
}

dd {
    line-height: 1.5em;
    margin-bottom: 1em;
}

abbr, acronym, .explain {
	text-decoration:none;
	border-bottom: 1px dotted black;
	color: black;
	background-color: transparent;
	cursor: help;
}

q {
	font-family: Baskerville, Georgia, serif;
	font-style: italic;
	font-size: 120%;
}

code {
	font-family: Monaco, "Courier New", Courier, monospace;
	font-size: 120%;
	color: Black;
	background-color: white;
	padding: 0 0.1em;
}

pre {
	font-family: Monaco, "Courier New", Courier, monospace;
	font-size: 100%;
	padding: 1em;
	color: black;
	background-color: white;
	overflow: auto;
}


/* Lists */

ul {
	line-height: 1.5em;
	margin: 0.5em 0 0 1.5em;
	padding: 0;
	list-style-image: url(bullet.gif);
	list-style-type: square;
}

ol {
    line-height: 1.5em;
    margin: 0.5em 0 0 2.5em;
    padding: 0;
    list-style-image: none;
}

blockquote {
	width: 70%;
	font-family: Baskerville, Georgia, serif;
	margin: 3.5em auto;
	padding: 10px 10px 10px 30px;
	color: #000000;
	background: #ebf2e4 url(open_quote.gif) 5px 5px no-repeat;
}
   
blockquote p.source {
    text-align:right;
}

#rightcolumn {
	float:right;
	width:140px;
	margin-top: 2px;
	margin-bottom: 1em;
	padding: 0.5em;
	border: 1px solid #495b6b;
	border-radius: 1em; /* CSS3 */
	-moz-border-radius: 1em; /* Mozilla */
	background-color:#d8e1ce;
}

#whatsnew {
	padding: 0;
	margin: 0 0 1em 0;
	border: none;
}

#whatsnew th {
	padding: 0;
	text-align: center;
}

ul.menu { /* Simple menu of items */
	list-style: none;
	list-style-image: none;
	padding:0;
	margin:0;
}

.indented {
	padding-left: 2em;
}

.documentDescription {
    /* The summary text describing the document */
    font-weight: bold;
    display: block;
    margin: 0em 0em 0.5em 0em;
    line-height: 1.5em;
}

.documentByLine {
    font-size: 85%;
    font-weight: normal;
    color: #76797c;
    margin: 0em 0em 0.5em 0em;
}


.system-msg {
	border: 2px dashed black;
	padding: 0.5em;
	margin: 0.5em 2em;
	font-weight: bold;
}
.quickjumps {
	float:right;
	margin: 0.5em;
	padding: 0.5em;
	border: 1px solid #495b6b;
	border-radius: 1em;/* CSS3 */
	-moz-border-radius: 1em;/* Mozilla */
	background-color : #e5e2dc; 
	width : 140px;
}

.quickjumps ul {
	list-style-image: url("../images/eionet//styles/smalldiamond.png");
	margin-left: 0;
	padding-left: 1.5em;
}

.quickjumps li {
	font-size: 9pt; 
	font-style: normal; 
	line-height: normal; 
	font-weight: bold; 
	padding-bottom: 0.4em;
}

.quickjumps a, .quickjumps a:visited {
	text-decoration: none;
	color: #024176
}

.quickjumps h2 {
	margin-bottom: 0;
	font-size: 110%;
}

.quickjumps p {
	border-top: 1px dotted black;
	margin-bottom: 0;
	margin-top: 0.1em;
}


/*
 * The globalnav is for buttons that exist on all pages.
 * They are shown on the left
 */
#globalnav {
	position: absolute;
	left: 0;
	top: 130px;
	width: 198px;
	margin: 0px;
}

#globalnav h2 {
	color:#495b6b;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 125%; 
	font-style: normal; 
	line-height: normal; 
	padding-top: 0;
	margin: 10px 50px 6px 11px;
	font-weight: bold;
	text-align: left; 
	text-decoration: none;
/*	border-bottom: 2px solid #adc095;*/
}

#globalnav ul {
	list-style: none;
	list-style-image: none;
	padding-left: 0px;
	margin: 0px;
}

#globalnav li {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 90%;
	font-weight: bold;
	padding-left: 0;
	line-height: 100%;
	vertical-align: bottom;
	border: none;
	margin: 0px;
	white-space: nowrap;
}
#globalnav li a {
	display:block;
	font-weight: bold;
	text-decoration: none;
	color:#495b6b;
	background: transparent url('../images/eionet/leftmenu.gif') left center no-repeat;
	padding: 0px 6px 0px 20px;
	border: none;
height: 1.4em;
	margin: 0px;
}

#globalnav li a:hover {
	background: white url('../images/eionet/mouse-leftmenu.gif') left center no-repeat;
	color: #b20d00;
}

#globalnav form {
	text-align: center;
	padding-right: 40px;
}

/* The .operations is for the buttons to the right of the page */

#operations {
	float: right;
	margin: 0.5em 0 0px 1em;
}
#operations h2 {
	color: #455b6b;
	font-family: verdana, helvetica, sans-serif;
	font-size: 120%;
	padding-left: 10px;
}

#operations ul {
	list-style: none;
	list-style-image: none;
	margin: 0;
}

#operations li {
	font-size:.75em;
	font-family: verdana, helvetica, sans-serif;
	font-weight: bold;
	line-height: 100%;
	white-space: nowrap;
}

#operations li a {
	display:block;
	font-weight: bold;
	color: #455b6b;
	text-decoration: none;
	background: url('../images/eionet/bt-lightgreen.gif') no-repeat;
	padding: 5px 0px 0px 10px;
	width: 170px;
	height: 22px;
}
#operations li a:hover {
	color: #b20d00;
}
#operations li a:active {
	color: #b20d00;
	background: url('../images/eionet/bt-darkgreen.gif') no-repeat;
}

/* Tabbed menus - as used on the front page */
#tabbedmenu {
	float:left;
	width:100%;
	background: url("../images/eionet/tabborder.gif") bottom repeat-x;
	font-size: 1.1em;
	line-height:normal;
}
#tabbedmenu ul {
	margin:0;
	padding:10px 10px 0;
	list-style:none;
}
#tabbedmenu li {
	float:left;
	background:url("../images/eionet/green-left.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 15px;
	white-space: nowrap;
}
#tabbedmenu a {
	display:block;
	text-decoration: none;
	font-weight: bold;
	color: black;
	background:url("../images/eionet/green-right.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
}
#tabbedmenu #currenttab {
	background-image:url("../images/eionet/on02-left.gif");
}

#tabbedmenu #currenttab span, #tabbedmenu #currenttab a {
	display:block;
	text-decoration: none;
	font-weight: bold;
	background:url("../images/eionet/on02-right.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
}

/* Breadcrumb trail */

.breadcrumbtrail {
	position: absolute;
	left: 218px;
	right: 0px;
	top: 80px;
	padding: 1px 0px 1px 20px;
	font-size: 0.8em;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #7d7d7d;
	border-top: 1px dotted rgb(143,167,113); /* #9ab17d; /* #adc095; */
	border-bottom: 1px dotted rgb(143,167,113); /* #9ab17d; /* #adc095; */
}
.breadcrumbitem {
	float: left;
	padding-right: 11px;
	margin-right: 3px;
	background-image: url(arrow-normal.png);
	background-repeat: no-repeat;
	background-position: 100% 2px;
}
.breadcrumbitemlast {

}

.breadcrumbtrail a {
	font-weight: bold;
	color: #7d7d7d;
	text-decoration: none;
}
.breadcrumbtrail a:hover {
	font-weight: bold;
	color: #ff9900;
	text-decoration: underline;
}

.breadcrumbhead {
	display:none;
	font-size: 1px;
}

.breadcrumbtail {
	font-size: 0.1px;
	float:right;
	width:1px;
}

/********** Style for the calendar table Begin **********/

#rdfcalendar {
	background-color:#d8e1ce;
	width :	140px;
	border-width :	0px;
	border-style : solid;
	border-color : #000000;
	font-family :	Verdana, Geneva, Arial, Helvetica, sans-serif;
	speak-header : always;
	text-align : center;
}

#rdfcalendar th {
	padding: 0;
	text-align : center;
}
#rdfcalendar th.title {
	color :			white;
	background :		#666666;
	font-size :			13px;
	text-align : center;
}

#rdfcalendar th.month a {
	/* "cal_css['month_']" */
	font-size :			14px;
}

#rdfcalendar tr.week th {
	/* "cal_css['week_']" */
	color :		#A06060;
	font-size :	12px;
	padding: 0;
	font-weight: normal;
	text-align : right;
}

/********** Style for the title, month and week End **********/


/********** Style for the current day, normal day and event day Begin **********/

#rdfcalendar td {
	/* "cal_css['day_']" */
	color : black;
	font-size :	10px;
	vertical-align : top;
	text-align : right;
}

#rdfcalendar td a {
	/* "cal_css['event_day_']" */
	display: block;
	border :	0px solid black;
}

#rdfcalendar td.today {
	background-color : #9ab17d;
}

/********** Style for the current day, normal day and event day End **********/

/* Message board selectors */
#messageboard
{
 margin-top: 1em;
 background-color : #FFB755;
 color : #000080;
 width: 100%;
}

#messageboard .messagelist
{
    background: #FFFFCC;
}

#messageboard .firstHeader
{
}

#messageboard .secondHeader
{
    background-color :  #FEEDBB;
}

#messageboard .selectedMessage
{
    background-color : #FBEDBB;
}

#messageboard .viewMessage
{
    background: #FFFFEE;
}

#messageboard a.menulink
{
    font-weight: bold;
    font-size: 15px;
    color: #333333;
    text-decoration: underline;
}
#messageboard a.menulink:hover
{
    font-weight: bold;
    font-size: 15px;
    color: #333333;
    text-decoration: underline;
}

/* Tables */
/* Default are layout tables. We can not really style those. It would have too many side effects */
table {
	empty-cells: show;
}

td {
	line-height: normal; 
	text-decoration: none;
}

th {
	font-weight: bold; 
	line-height: normal; 
	padding: 0.1em 0.5em;
	text-decoration: none;
}
th a, th a:link, th a:visited {
	color: #000;
}

table .number {
	text-align: right;
}
table .sum {
	font-weight: bold;
}
table .center {
	text-align: center;
}


/* Data tables */
.datatable th {
	text-align: center;
	background-color: #f6f6f6;
	font-weight: bold;
/*	border-top:    1px solid white;*/
	border-bottom: 2px solid white;
}
.datatable th.scope-row { /* IE6 doesn't understand [scope="row"] */
	text-align: right;
}
.datatable th[scope="row"] {
	text-align: right;
}

.datatable td, .datatable th  {
margin:0;
	padding: 0.3em;
	vertical-align: top;
}
.datatable td {
/*	border-top:    2px solid #f6f6f6;*/
	border-bottom: 2px solid #f6f6f6;
}
/*
.datatable tr.zebraeven {
	background-color: #f6f6f6;
}
*/
/*
.datatable tr:hover, .datatable tr:hover th {
	background-color: #e4f1bc;
}
*/
table.datatable {
	border: 1px solid #b6b6b6;
	border-collapse: collapse;
	color: #666666;
	margin: 1em 0em;
}

/* Sortable table columns */
.sortable {
	border: 1px solid #b6b6b6;
	color: #666666;
	font-size: 0.9em;
	line-height:normal;
}
.sortable tbody tr {
}

.sortable tr.zebraeven {
	background-color: #f6f6f6;
}
/*
.sortable tbody tr:hover {
	background-color: #e4f1bc;
}
*/
.sortable td {
	padding: 0.3em;
vertical-align:top;
	border-bottom: 1px dotted #b6b6b6;
}
.sortable th {
background-image: url('../images/eionet/sortbg.png');
background-position: 50% left;
background-repeat: repeat-x;
/*	background: #f1efe5;*/
	border: 2px outset #adc095; /* #495b6b;*/
	margin: 0;
	padding: 0;
	white-space: nowrap;
	vertical-align: top;
}
.sortable th a:link, .sortable th a:visited, .sortable th span {
	display:block;
	text-decoration: none;
	font-weight: bold;
	color: black;
	padding:1px 0.5em;
}

.sortable thead th a:hover {
	color: white;
	background: #97af79;
}
/* Tables for arranging formulars */

.formtable {
	border-collapse: collapse;
}

.formtable th {
	vertical-align: top;
	text-align: right;
	border: none;
	background: transparent;
}

.formtable th.scope-col { /* IE6 doesn't understand [scope="col"] */
	text-align: left;
}

.formtable th[scope="col"] {
	text-align: left;
}

.formtable td  {
	vertical-align: top;
}



input {
	font-family: Verdana sans-serif;
	border: 1px solid #9db481;
	color: #495b65;
	vertical-align: middle;
	background: white url(input_background.gif) repeat-x;   
}


select {
	border: 1px solid #9db481;
	color: #495b65;
	vertical-align: top;
	background: white;
}

input[type="submit"], input[type="reset"],  input[type="button"] {
	font-size: 90%;
	font-weight: bold;
	color: #455b6b;
	text-decoration: none;
	background: #edf1e7;
}

input[type="submit"]:active, input[type="reset"]:active,  input[type="button"]:active {
	background: #dbe3d0;
}

} /* screen media */
